*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

body{
    background-image: url(./img-video/bussiness_img_1.jpg);
    background-size: cover;
    background-attachment: fixed; /* làm cho hình bg giữ nguyên vị trí khi scroll */
    width: 100%;
    height: 450px;
}

.container{ /*Create this class to use for many parts, such as service .. */
    width: 90%;
    margin: 0 auto; /* 0:vertical auto: auto set center for horizontal */
    max-width: 1400px; /* so when zoom in or with bigger screen resolution, this is the max value to display header */
}

/* HEADER */    
header{
    position: absolute; /* Set relative still keep the header space, use absolute to make header move out, then set top,left for it, so carousel will move up to header position */
    /* Usually need create relative for header's father but its father is body. We DONT need to create relative position for body */
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 0.8px solid rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.header__container{
    display: flex; /* Flex: use father tag to control son (not grand-son), so no need to use display:inline for son. Flex will bring all son to main axis (horizontal) */
    justify-content: space-between;  /* This is to give space between sons */
    /* align-content: opposite with justify-content, affect oon vertical side */
    height: 100px;
    align-items: center; /* This is axis y (vertical) */
}

.header__container a{
    text-decoration: none;
    color: white;
}

.header__container nav a{
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    transition: all 0.5s; /* This will make the hover below have time to transit, unit in second. Should not put in div hover */
}

.header__container nav a:hover{
    color: #E62B4A;
}

.header__container .active{
    color: #E62B4A; /* This is to set the active site */
}

.header__logo{
    font-weight: 500;
    font-size: 1.9rem;
    color: white;
}

/* CAROUSEL */
.carousel{
    height: 75vh;
    min-height: 700px;
    background-image: url(./img-video/home_slider.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Fullfil the space */
    background-position: center;
    display: flex; /* Need to have this before using justify-content & align-content */
    justify-content: center;
    align-items: center;
}

.carousel__container{
    width: 30%;
    height: max-content;
    text-align: center;
    color: white;
}

.carousel__container p{
    font-size: 1.4rem;
}

.carousel__container h2{
    font-size: 4rem;
    font-weight: 700;
    line-height: 90px;
    /* margin: 20px 0; */
}

.carousel__container button{
    margin-top: 20px;
    width: 125px; /* shortcut: w120px */
    height: 48px;
    background: #E62B4A;
    color: white;
    border: none;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.5s;
    cursor: pointer;
    font-family: tahoma;
    outline: none;
}

.carousel__container button:hover{
    background-color: #AF2239;
    border-color: #E62B4A;
}

.carousel__container i{
    font-size: 2rem;
    margin-top: 3rem;
    animation: carousel_angle 1.2s linear infinite; /*animation: name duration iteration-count */
}
@keyframes carousel_angle{
    0%{
        transform: translateY(0);
        opacity: 100%;
    }
    100%{
        transform: translateY(50px);
        opacity: 0%;
    }
}

/* SERVICE */
.service{
    background-color: black;
    padding: 90px 0;
}

.service__title{
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
}

.service__title p:first-child{
    font-size: 0.8rem;
    color: #E62B4A;
    font-weight: 300;
    padding-bottom: 5px;
}

.service__title p:nth-child(2){
    /* font-weight: 300; */
    font-size: 3rem;
    padding-bottom: 10px;
}

.service__title p:nth-child(3){
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #888888;
    padding-bottom: 30px;
}

.service_slider{    
    width: 80%;
    margin: auto;
}

.service .slider__item{
    width: 200px;
    height: 200px;
    /* border: 1px solid blue; */
    padding: 0 10px;
}

.item__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Convert the default of axis to column so the icon stand over the text */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    position: relative;
    color: #888888;
}

.item__wrapper i{
    font-size: 3rem;
}

.item__wrapper p{
    font-weight: 300;
}

.item__wrapper::after{
    content: "";
    display: block;
    position: absolute;
    height: 0px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 5px;
    background: red;
    transition: 0.3s all linear;
}

.item__wrapper:hover::after{
    height: 100%;
}

/* BLOG */
.blog{
    padding: 80px 0;
    background-color: #F3F3F3;
}

.blog__title{
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
}

.blog__title p:first-child{
    font-size: 0.8rem;
    color: #888888;
    font-weight: 400;
    padding-bottom: 5px;
}

.blog__title p:nth-child(2){
    color: black;
    font-size: 3rem;
    padding-bottom: 10px;
}

.blog__title p:nth-child(3){
    font-size: 0.9rem;
    font-weight: 500;
    color: #888888;
    padding-bottom: 40px;
}

.blog__list{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* fr = fragment */
    gap: 20px;
}

.blog__list img{
    width: 100%;
    display: block; /* để khắc phục khoảng hở bên dưới hình khi thêm text bên trên trong phần overlay */
    height: 100%; /* để fix 100% chiều cao cho chai bia */
    object-fit: cover; /* để sửa lại hình không bị méo, giống background-size: cover */
    filter: grayscale(50%) contrast(50%);
}

.blog__item{
    position: relative;
}

.blog__item-1{
    grid-column: 1/span 2;
    /* start/ end */
    grid-row: 1/span 2;
    /* start/ số lượng */
}

.blog__item-10{
    grid-column: 3/span 2;
    grid-row: 3/span 2;
}

.item__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(230, 43, 74, 0.6);
    opacity: 0;
    transition: all 0.5s;
}

.item__overlay:hover{
    opacity: 1;
}

.item__overlay .search{
    font-size: 0.8rem;
    color: black;
    width: 35px;
    height: 35px;
    background-color: white;
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    /* z-index: -1;  */
    /* z-index: Di chuyển phần này xuống dưới hình, số càng thấp sẽ nằm dưới */
}

.item__overlay .search:hover i{
    background-color: black;
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__item:hover .search{
    top: 30px;
}

.blog__item:hover .overlay__title{
    bottom: 30px;
    opacity: 1;
    z-index: 1;
}

.overlay__title{
    color: white;
    position: absolute;
    left: 30px;
    bottom: 0;
    transition: all 0.5s;
}

.overlay__title p:first-child{
    color: #D0C7C8;
}

.overlay__title p:nth-child(2){
    font-weight: 500;
}

/* NUMBER */
.number{
    width: 100%;
    background-color: black;
    color: white;
}

.number__container{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.number__list{
    width: 350px;
    height: 50%;
    text-align: center;
}

.number__list h2{
    font-size: 3.2rem;
    font-weight: 300;
}

.number__list p{
    text-transform: uppercase;
    font-size: 1rem;
    color: #888888;
}

/* EXPERIENCE */
.experience{
    width: 100%;
    background-color: transparent;  
    padding: 80px 0;}

.experience__cover{
    color: white;
    width: 75%;
    margin: auto;
    text-align: center;
}

.experience__title p:first-child{
    font-size: 0.8rem;
    color: #E62B4A;
    font-weight: 400;
    padding-bottom: 5px;
}

.experience__title p:nth-child(2){
    /* font-weight: 300; */
    font-size: 3rem;
    padding-bottom: 10px;
}

.experience__title p:nth-child(3){
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #888888;
    padding-bottom: 20px;
}

.experience__video video{
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 2px 1px;
    margin: 20px 0;
    display: block;
}

/* CONTACT */
.contact{
    background-color: white;
    height: 800px;
}

.contact__cover{
    color: white;
    width: 75%;
    margin: auto;
    padding: 80px 0;
}

.contact__title{
    text-align: center;
}

.contact p:first-child{
    /* font-weight: 300; */
    font-size: 3rem;
    padding-bottom: 10px;
    color: black;
}

.contact__title p:nth-child(2){
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #888888;
    padding-bottom: 30px;
}

.contact__content{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    margin: 0 auto;
}

.contact__map iframe{
    width: 800px;
    height: 450px;
}

.contact__form{
    width: 400px;
    height: 400px;
}

.form__input{
    padding: 15px 0;
}

.form__input input,textarea{
    padding-left: 10px;
    font-size: 0.9rem;
}

.form__input input{
    width: 500px;
    height: 50px;
}

.form__input textarea{
    width: 500px;
    height: 200px;
}

.form__input button{
    width: 500px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}

.form__input:hover button{
    background-color: #E62B4A;
}

/* FOOTER */
footer{
    background-color: black;
    height: 300px;
}

.footer__cover{
    color: white;
    width: 75%;
    margin: auto;
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright p{
    font-size: 0.8rem;
}

.footer__link i{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
    margin-left: 5px;
    transition: all 0.5s;
}

.footer__link i:hover{
    background-color: #E62B4A;
}

/* BACK TO TOP BUTTON */
.backtotop i{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
}




